<div *ngIf="!isSubmitted" align=center>
    <ix-note title="Note"
        text="You can contact DevStudio.app by submitting below form, or by mailing directly to 'help@devstudio.app'. Thank you!">
    </ix-note>
    <ix-form [form]="form" align=left></ix-form>
</div>

<div *ngIf="isSubmitted">
    Thank you for contacting DevStudio.app. A software engineer will get back to you.
    <br />
    <button class="btn" (click)="goHome()">Go to home</button>
    <button class="btn btn-success" (click)="fileAnother()">Contact again</button>
</div>