<clr-header class="header header-4" *ngIf="!isPlayerPage()">
  <div class="branding">
    <a [routerLink]="['/']" class="nav-link">
      <!-- <img src='assets/app.png' width="16" />&nbsp; -->
      <clr-icon shape="application" style="color: white" size="24"></clr-icon>
      <span class="title">DevStudio.App</span>
      <small style="display:none">Web app development</small>
    </a>
  </div>

  <div class="header-nav">
    <a [routerLink]="['/']" class="nav-link nav-text">Home</a>
    <a [routerLink]="['request-feature']" class="nav-link nav-text">Request a feature</a>

  </div>

  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        Help
        <clr-icon shape="caret down"></clr-icon>
      </button>

      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a [routerLink]="['contact']" clrDropdownItem>Reach out to DevStudio</a>
        <a [routerLink]="['bug-report']" clrDropdownItem>Report a bug</a>
      </clr-dropdown-menu>
    </clr-dropdown>

    <a *ngIf="isAdmin()" [routerLink]="'admin'" class="nav-link nav-text">
      Admin
    </a>

    <clr-dropdown *ngIf="isLoggedIn()">
      <button class="nav-text" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        Sanjay&nbsp;
        <clr-icon shape="caret down"></clr-icon>
      </button>

      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="/account" clrDropdownItem>Account</a>
        <a (click)="logout()" clrDropdownItem>Logout</a>
      </clr-dropdown-menu>
    </clr-dropdown>

    <a *ngIf="!isLoggedIn()" [routerLink]="'login'" class="nav-link nav-text">
      Login
    </a>
    <a *ngIf="!isLoggedIn()" [routerLink]="'sign-up'" class="nav-link nav-text">
      Sign Up
    </a>

    <a [routerLink]="['app-editor']" class="nav-btn" style="margin-top:.25rem; margin-left:.5rem;">
      <button class="btn btn-success">Create new web app</button>
    </a>
  </div>
</clr-header>