<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{app.appName}}</mat-card-title>
        <mat-card-subtitle>{{app.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div align=center>
            <img mat-card-image style="width: 200px" [src]="app.logo">
        </div><br />
        {{app.description}}
    </mat-card-content>
    <mat-card-actions>
        <div align=center>
            <button mat-flat-button (click)="gotoAppDetailsPage()"
                style="width:40%; margin-right: 10px; background-color: whitesmoke">
                <mat-icon>details</mat-icon>
                Details
            </button>
            <button mat-flat-button color="primary" style="width:40%" (click)="runApp()">
                <mat-icon>play_arrow</mat-icon>
                Launch
            </button>
        </div>
    </mat-card-actions>
</mat-card>