<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{app.appName}}</mat-card-title>
        <mat-card-subtitle>{{app.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="app.logo" alt="Photo of a Shiba Inu">
    <mat-card-content>
        {{app.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Run</button>
        <button mat-button>Show more</button>
    </mat-card-actions>
</mat-card>