.example-card {
    max-width: 190px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.card-image {
    max-width: 150px;
    margin-top: 0px;
}

.example-header-image {
    width: 0px;
}

mat-card-title {
    max-width: 100%;
}

.shrink-2x {
    transform: scale(1.0);
}

.enlarge-2x {
    transform: scale(1.5);
}