<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{app.appName}}</mat-card-title>
        <mat-card-subtitle>{{app.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div align=center>
            <img mat-card-image class="card-image" [src]="app.logo">
        </div><br />
        {{trim(app.description, 50)}}
    </mat-card-content>
    <mat-card-actions>
        <div align=center>
            <table>
                <tr>
                    <td>
                        <button mat-flat-button (click)="gotoAppDetailsPage()" class="shrink-2x"
                            style="font-size: 12px; background-color: whitesmoke;">
                            <mat-icon>details</mat-icon>
                            Details
                        </button>
                    </td>
                    <td>
                        <button style="font-size: 12px;" class="shrink-2x" mat-flat-button color="primary"
                            (click)="runApp()">
                            <mat-icon>play_arrow</mat-icon>
                            Launch
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card-actions>
</mat-card>