<clr-modal [(clrModalOpen)]="appState.isSettingsModalVisible" [clrModalSize]="'md'">
    <h3 class="modal-title">App Settings</h3>
    <div class="modal-body" align=center style="outline: none">
        <div *ngIf="status == 'initial'"><button class="btn btn-success" (click)="loadAppData()">Load app
                settings</button></div>
        <div *ngIf="status == 'loading'">Loading app settings <img [src]="LOADING_GIF_SRC" /></div>
        <ix-form *ngIf="status == 'show-form'" [form]="form" align=left></ix-form>
        <div *ngIf="status == 'error'">
            An error occured, could be a network issue. Please try again.<br/>
            <button class="btn btn-success" (click)="loadAppData()">Try again</button></div>
        <div *ngIf="status == 'success'">
            App settings have been updated. <b>{{saveScreenMessage}}</b><br/><br/>
            <button class="btn" (click)="status = 'show-form'">Go back</button>
            <button class="btn btn-success" (click)="close()">Close</button>
        </div>
    </div>
</clr-modal>