<h1>App submissions</h1>
<button (click)="gotoAdminHome()">&lt; Back</button><br />

<div *ngIf="status == 'loading'">Loading app settings <img [src]="LOADING_GIF_SRC" /></div>
<table *ngIf="status == 'loaded'" mat-table [dataSource]="submissions" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Approve </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button (click)="approveSubmission(element)">Approve</button> 
        </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef> Domain </th>
        <td mat-cell *matCellDef="let element"> {{element.wzdomain}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> UserId </th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="app">
        <th mat-header-cell *matHeaderCellDef> App </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{element.wzkey}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef> Last updated </th>
        <td mat-cell *matCellDef="let element"> {{element.lastUpdatedEpoch}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
