<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-nav-list>
            <a mat-list-item class="sidebar-list-item" [routerLink]="['/']">
                <mat-icon>apps</mat-icon>&nbsp;Apps Home
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item class="sidebar-list-item" *ngFor="let category of categories" 
            [routerLink]="['/category/' + category.path]">
                <mat-icon>{{category.icon}}</mat-icon>&nbsp;{{category.name}}
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-conent *ngIf="status == 'loading'">
        <loading-bar></loading-bar>
    </mat-drawer-conent>
    <mat-drawer-conent *ngIf="status == 'error'">
        An error occured. Please try again.
    </mat-drawer-conent>
    <mat-drawer-content *ngIf="status == 'ready'" style="padding-left: 20px">
        <h1 *ngIf="category">{{category}}</h1>
        <div fxLayout="row wrap">
            <app-card *ngFor="let app of apps" [app]="app" class="card-item"></app-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>